<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="cover">
    <div class="cover-image"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <h1>Wide-Field Ethnography</h1>
          <p>Access WFE datasets</p>
          <br><br>
        </div>
        <div class="col-md-6">
          <dl class="dl-horizontal">
            <dt>Research Website</dt>
            <dd><a href="http://depts.washington.edu/citw/wordpress/" target="_blank">Collaboration in the Wild</a></dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Development Team</dt>
            <dd></dd>

            <dt>Dr. David Socha</dt>
            <dd>socha[at]uw[dot]edu</dd>

            <dt>Reserch Assistants</dt>
            <dd>sochas-ras[at]u[dot]washington[dot]edu</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-justified nav-pills">
            <li class=""><a href="/">Home</a></li>
            <li class=""><a href="#">Request Access</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
